{% extends "layout.html" %}
{% block title %}Add component{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 35px; margin-left: 300px">
            <div class="col-md-7">
               <h1>Create New component</h1>

               <form name="new-component" method="POST">
                    <div class="form-group">
                      <input name="new-component-name" type="text" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success" style="width:50%;"><i class="fas fa-save text-and-icon"></i>Create</button>
                    <a href="{{ url_for('home') }}">
                        <button type="button" class="btn btn-danger" style="width:48%;"><i class="fas fa-times text-and-icon"></i>Cancel</button>
                    </a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}